.cm-tab-wrap-hack::after { content: ""; }
.com-user { position: fixed; display: flex; justify-content: center; align-items: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.com-user, .com-user::after { top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 1000; }
.com-user::after { position: absolute; content: ""; background: rgba(0, 0, 0, 0) url('../img/wallpapers/main.jpg') no-repeat scroll 0% 0% / cover ; margin: -50px; filter: blur(20px); opacity: 0.8; }
.com-user .login-box { width: 200px; }
.com-user .login-box img { width: 50px; height: 50px; border-radius: 50%; margin-bottom: 10px; }
.com-user .login-box .login { position: absolute; padding: 0px; right: -50px; top: 90px; border-radius: 15px; border: medium none; background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0%; width: 30px; color: rgb(255, 255, 255); font-size: 18px; outline: medium none; height: 30px; cursor: pointer; }
.com-user .login-box .login:active { background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%; }
.com-user .box { z-index: 1001; display: flex; flex-direction: column; position: relative; justify-content: center; align-items: center; }
.com-user .third img { width: 32px; height: 32px; cursor: pointer; margin: 10px; }
.com-user input { width: 150px; background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0%; border: medium none rgba(0, 0, 0, 0.3); border-radius: 5px; height: 25px; margin: 10px 0px; outline: medium none; color: rgb(255, 255, 255); text-align: center; }
.com-user .cancel { position: absolute; z-index: 1001; bottom: 22%; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: medium none; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; outline: medium none; cursor: pointer; }
.com-user .cancel img { opacity: 0.8; }
.com-user .cancel span { color: rgb(255, 255, 255); font-size: 12px; margin-top: 10px; }
body, html { margin: 0px; padding: 0px; font-family: sans-serif; height: 100%; width: 100%; overflow: hidden; }
button { -moz-user-select: none; cursor: default; background-color: rgb(255, 255, 255); outline: medium none; border-width: 1px; border-style: solid; border-radius: 5px; border-color: rgb(200, 200, 200) rgb(194, 194, 194) rgb(172, 172, 172); box-shadow: 0px 1px rgba(0, 0, 0, 0.04); padding: 0px 13px; line-height: 19px; font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,sans-serif; font-size: 13px; }
button:active { border-color: rgb(36, 127, 255) rgb(18, 94, 237) rgb(0, 61, 219); background-image: -webkit-linear-gradient(top, rgb(76, 152, 254), rgb(5, 100, 227)); color: rgba(255, 255, 255, 0.9); }
* { box-sizing: border-box; }
#root, .layout-desktop { height: 100%; width: 100%; }
.layout-desktop { background-image: url('../img/wallpapers/main.jpg'); background-size: cover; display: flex; flex-direction: column; }
.layout-desktop .content { position: relative; height: 100%; width: 100%; flex: 1 1 0%; }
.layout-desktop .icons { padding: 30px; }
.layout-desktop .icons > div { display: flex; width: 150px; height: 150px; justify-content: center; align-items: center; flex-direction: column; }
.layout-desktop .icons > div img { max-width: 60px; max-height: 60px; }
.layout-desktop .icons > div span { margin-top: 10px; color: rgb(255, 255, 255); font-size: 12px; }
﻿@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em{margin:0; padding:0; border:0;}
ul, ol, li{list-style:none;}
input, button{margin:0; font-size:12px; vertical-align:middle;}
body{font:12px '宋体' arial, Helvetica, sans-serif; margin:0; color:#6d6e71;}
table{border-collapse:collapse; border-spacing:0;}

a{text-decoration:none;}
a:hover{text-decoration:none;}
.cl{height:0; font-size:1px; clear:both; line-height:0;}
.none{display:none}
.bbg{background:#ccc}
*:focus{outline:none}
i,em{font-style:normal;}
.marg{margin:0 auto; width:1000px}
.mar_top10{ margin-top:10px}
.bg_fff{background:#fff}
.bor{border:1px solid #d6bee0}
.fl{float:left}
.fr{float:right}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}

.btn {
    float: right;
    margin-top: -26px;
}
.icloud{background: url("../img/login/wmx_bg.png") repeat-x fixed; overflow:hidden }
.main{background: url("../img/login/iCloud.jpg") no-repeat center -0px ; height:750px; width:100%}
.top{ width:100%; height:45px;}
.top em{ padding:10px; display:block; float:left}
.top span{ float:right; padding:10px; height:45px; line-height:45px;}
.login_main{width:960px;  margin:0 auto; padding-top:240px }
.login{ width:360px; height:360px; background: url("../img/login/login_bg.png") no-repeat; margin:0 auto; padding-top:10px}
.del{ width:303px; height:164px; background:#Fff url("../img/login/login.jpg") no-repeat top; margin:0 auto; padding-top:166px;}
.del ul li{ height:36px; padding-left:12px; margin-top:10px}
.l_text{ width:250px; height:25px; border:none; line-height:25px; background:none;  font-size:14px;}
.del ul li em{ float:right; padding-right:8px; cursor:pointer}
.del ul li i{ display:block; width:200px; float:right; font-size:16px; margin-top:22px;  padding-left:26px; cursor:pointer}
.del ul li i.xuaz{background: url("../img/login/kuang1.jpg") no-repeat center left;} 
.del ul li i.xuax{background: url("../img/login/kuang2.jpg") no-repeat center left;} 
.white_content {display: none;position: absolute;top: 50%;left: 50%;width: 450PX;height: 200px;background: #fff;z-index: 1002; margin-left:-225px; margin-top:-150px; border-radius:12px; padding:10px}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=88);
}

.foot{ position:absolute; bottom:10px; width:100%; padding:0px 10px}
.foot em{ float:left}
.foot span{ float:right; padding-right:10px; color:#dae1e4;}
.foot span a{ padding:0 12px; font-size:14px; color:#dae1e4; }
